body {
    margin: 0;
    font-family: "Comic Sans MS", "Poppins", sans-serif;
    background: white;
    text-align: center;
}

/* Ylävalikko */
.navbar {
    background: #cfeaff;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 12px 25px;
    border-radius: 40px;
    transition: 0.2s;
}

/* korostus */
.nav-item.active {
    background: white;
    border: 3px solid #7db9ff;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

.nav-item:hover {
    background: white;
    border-radius: 40px;
}

/* Keskialue */
.container {
    margin-top: 60px;
}

.info p {
    margin-top: 1em;
    padding: 2em;
    
}

h1 {
    font-size: 32px;
}

p {
    font-size: 22px;
    margin-top: -10px;
}

/* Aloita peli nappula*/
.start-btn {
    display: inline-block;
    padding: 20px 60px;
    background: #cfeaff;
    border-radius: 50px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 80px;
    transition: 0.2s;
}

.start-btn:hover {
    background: #b9ddff;
}

/* Footeri */
.footer {
    background: #cfeaff;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 4px;
    background: black;
    border-radius: 5px;
}

/* Mobile-versio */
@media (max-width: 768px) {

    .navbar {
        justify-content: space-between;
        padding: 15px 20px;
        position: relative;
    }

    .burger {
        display: flex;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #cfeaff;
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;
        text-align: center;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-item {
        padding: 15px;
        font-size: 20px;
    }
}


  
  h2 {
    margin-bottom: 10px;
  }
  
  #score {
    background: white;    
    padding: 8px 15px;
    border-radius: 20px;
    border: 2px solid #9cc9ff;
    width: fit-content;
    margin: 0 auto;
}

.game-container {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.questions {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.question {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.question img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.dropzone {
    border: 3px dashed #99b5d1;
    border-radius: 12px;
    background: #f0f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 160px;
    max-width: 50%;
    height: auto;
    min-height: 55px;
    padding: 12px 20px;
    text-align: center;
}

.answers {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answer-box {
    background: #d9ecff;
    border: 2px solid #9cc9ff;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    cursor: grab;
}
.answer-box:active {
    cursor: grabbing;
    opacity: 0.7;
}